<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/Bootstrap.min.css">
</head>

<body>

    <section>
        <h1 class="" align="center">Edit Task List</h1>


        <form action="/edit-task" method="post" align="center">


            <input type="hidden" name="id" value="<%= task.id %>">

            <br>
            <div class="mt-3">
                <label for="task">Add Task</label>
                <input type="text" name="task" id="task" value="<%= task.task %>">
            </div>
            <br>

            <div>
                <label for="priority" class="">priority</label>

                <select name="priority" id="priority" class="p-1">
                    <option value="">Select Any</option>


                    <option value="High" <%=task.priority=="High" ? "selected" : "" %>>High</option>
                    <option value="Medium" <%=task.priority=="Medium" ? "selected" : "" %>>Medium</option>
                    <option value="Low" <%=task.priority=="Low" ? "selected" : "" %>>Low</option>
                </select>
            </div>

            <br>
            <div>
                <button>Update</button>
            </div>
        </form>

        <br><br>

        <div>
            <table class="table" align="center" border="1">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>Task</th>
                        <th>Priority</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <% TaskList.map((task)=> { %>
                        <tr>
                            <td>
                                <%= task.id %>
                            </td>
                            <td>
                                <%= task.task %>
                            </td>
                            <td>
                                <%= task.priority %>
                            </td>
                            <td>
                                <a href="/delete-task?taskId=<%= task.id %>">Delete</a>
                                <a href="/edit-task?taskId=<%= task.id %>">Edit</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>

            </table>
        </div>
    </section>

</body>

</html>